.column {
    /* padding: 10px; */
  width: calc(100% / var(--number-of-columns));

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;

  }

  @media screen and (max-width: 768px){
    .column{
      width: 250px;
    }
  }
  .column-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.8rem;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  
  
  .column-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width: 100%;
    
  }
  
  .column-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
  }

  .column-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
  }